.section-music {
  background: url('../../images/cardboard-gold.jpg');
  color: $color__white;
  text-align: center;
  padding: 1px 0 8vmin;
  overflow: hidden;
  .h1.subtle {
    color: $color__gold;
    opacity: 0.73;
    margin: -0.25em 0 30px;
    line-height: 1;
  }
}

.single-release {
  .release-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 5vmin;
    max-width: 1200px;
    margin: auto;
  }

}

.release-image__wrap {
  padding: 40px;
  flex: 3 1 180px;
  position: relative;
  &::before, &::after {
    @extend %psuedo;
    background: rgba(darken($color__gold, 20%), 0.4);
    z-index: 0;
    border-radius: 10000px;
  }
  &::after {
    width: 90%;
    height: 90%;
    left: 5%;
    top: 5%;
    background: rgba(lighten($color__gold, 10%), 0.6);
    z-index: 1;

  }
  .respimg-wrap {
    position: relative;
    z-index: 10;
    width: 95%;
    margin: auto;
  }
}
.release-content{
  padding: 22px;
  flex: 2 1 300px;
  text-align: center;
  color: $color__offwhite;
  .h2 {
    text-transform: uppercase;
    line-height: 0.9;
    word-break: break-word;
    letter-spacing: -0.04em
  }
  a.release-link {
    font-size: calc(40px + 3vw);
    transition: opacity 300ms $ease, transform 300ms $ease;
    opacity: 0.85;
    display: inline-block;
    position: relative;
    transform-origin: 50% 50%;
    padding: 0.14em;
    backface-visibility: hidden;
    border: 1px solid transparent;
    color: $color__brown-dark !important;
    transform: scale(0.95);

    @include media-query($widescreen) {
      font-size: 85px;
    }
    &:hover {
      opacity: 1;
      transform: scale(1);
    }
  }
  a.button {
    margin-top: 20px;
    opacity: 0.7;
    &:hover {
      opacity: 0.9;
    }
  }
  p {
    text-transform: uppercase;
    width: 100%;
    text-align: justify;
    font-weight: bold;
    display: inline-block;
    margin: auto;
    width: auto;
  }
}