.main-navigation {
	clear: both;
	display: block;
	
	width: 100%;
	ul {
		margin-bottom: 20px;
		padding: 20px 0;
		
	}
	.respimg-wrap {
		width: 120px;
	}
	
	li {
		
		position: relative;

		// &:hover > a,
		// &.focus > a {
		// }
		display: block;
		float: none;
	}

	a {
		display: inline-block;
		text-decoration: none;
		font-family: $font__heading;
		color: $color__white;
		font-size: calc(20px + 2vmax);
		letter-spacing: -0.03em;
		line-height: 1;
		margin: 0.1em 0;
		font-weight: bold;
		text-transform: lowercase;
		transition: color 100ms $ease;

		&:hover {
			
			color: transparent;
			-webkit-text-stroke: 2px $color__white;
			@include media-query($small) {
				-webkit-text-stroke: 1px $color__white;
			}
		}
		
	}


	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

	

	
	}

	
	.main-menu-container {
		display: block;
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}


	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: block;
	}


.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
